#root {
  width: 100%;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
}

.counter_container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 1.1rem;
  font-weight: 500;
  color: #444;
  margin-bottom: 2rem;
}
